<div class="jumbotron">
  <h1 class="display-2">Contact 24/7</h1>
  <hr>
  <h1 class="display-4">
    We'd
    <i class="fa fa-heart-o" style="color:rgb(192, 21, 21);" aria-hidden="true"></i>
    to help!</h1>
  <p class="lead">
    We like to create things with fun, open-minded. Feel free to say hello
  </p>

  <div>
    <div class="container form">
      <form #f="ngForm" (ngSubmit)="onsubmit()">
        <fieldset>
          <!-- Email -->
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" required placeholder="Email" [(ngModel)]="email" name="email">
          </div>

          <!-- Phone -->
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" placeholder="Phone Number" required [(ngModel)]="phone"
              name="phone">
          </div>

          <!-- Request -->
          <div class="form-group">
            <label for="request">Request</label>
            <textarea class="form-control" rows="5" placeholder="Please enter your request here ..."
              [(ngModel)]="content" name="content">
                    </textarea>
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-outline-secondary"
              style="color: white;background-color:gray ;font-size: 20px; cursor: pointer;">
              Submit
            </button>
          </div>
        </fieldset>

      </form>
      <br>
    </div>
  </div>
</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Re.Id</th>
        <th scope="col">Email</th>
        <th scope="col">Full Name</th>
        <th scope="col">Content</th>
        <th scope="col" style="text-align:center;">Request Date</th>
      </tr>
    </thead>

    <tbody *ngFor="let request of requests ; let i =index">

      <tr>
        <th scope="row">{{(request.requestId)}}</th>
        <td>{{request.email}}</td>
        <td>{{request.fName + " " + request.lName}}</td>
        <td>{{request.content}}</td>
        <td style=" border:0px;text-align:center;">
          {{request.dateRequest}}
        </td>
      </tr>

    </tbody>
  </table>
</div>